<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="./stylesheets/machines.css"/>
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/arduinoData.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <!-- <script src="./javascripts/ajaxRequests.js"> charset="UTF-8"</script> -->
</head>


<body>
    <div id="rData" class="output">
        <h2>Data from Arduino</h2>
        <canvas id="myCanvas" width="460" height="540"></canvas>
    </div>
    <div id="sData" class="output">
        <h2>Data to Arduino</h2>
        <div id="btnHolder">
            <p id="helpBox"></p>
            <input type="checkbox" id="check" value="toggle" /><label for="check">Toggle LED</label>
        </div>
        <p id="sliderTxt">LED Dimmer</p>
        <div id="slider"></div>
        <div id="sandBox">
            <div id="chartContainer1" style="height: 370px; width: 100%;"></div>
        </div>
    </div>

    <div class="machines-data-container">
        <table>
            <th class="middle" colspan="2"> Machines Part Info</th>
            <tr><button class="fetch-data-button">Get Machine Data</button></tr>
        <form> 
            <tr>
                <td>
                    <label for="S/N">SN: </label>
                </td>
                <td>
                    <input class="sn-input" type="text" placeholder="SN" name="sn">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="tank_size">Tank Size: </label>
                </td>
                <td>
                    <input class="tank-liters-input" type="number" step='0.1' placeholder="Tank Liters" name="tankLiters">
                </td>
            </tr>
           <tr>
                <td>
                    <label for="last_user">Last User: </label>
                </td>
                <td>
                    <input class="user-input" type="text" placeholder="User" name="user">
                </td>
           </tr>
           <tr>
            <button class="post-button" type="submit">Submit!</button>
           </tr>
        </form>

      </body>
      <tr>
        <p>Please input data above</p>
      </tr>
    </table>
    </div>

    

    <!-- <script>
        const fetchDataButton = document.querySelector(".fetch-data-button");
        fetchDataButton.addEventListener("click", () => {
            console.log("I got clicked");
        })
    </script> -->

    <script src="./javascripts/ajaxRequests.js" charset="UTF-8"></script>




</body>
</html>