<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="./stylesheets/machines.css"/>
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <!-- <script src="/javascripts/arduinoData.js"></script> -->
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <!-- <script src="./javascripts/ajaxRequests.js"> charset="UTF-8"</script> -->
</head>


<body>
    <div id="navbar">
        Dashboard
    </div>
    <div id="body-container">
        <!-- <div id="rData" class="output"> -->
            <canvas id="myCanvas" width="460" height="540" class="data-card"></canvas>
            <!-- <div id="sandBox">
                <div id="chartContainer1" style="height: 370px; width: 100%;"></div>
            </div> -->
        <!-- </div> -->

        <!-- <div id="sData" class="output"> -->
            <div id="btnHolder" class="data-card">
                <h2>Pump Control Panel</h2>
                <!-- <button id="check" value="toggle">Toggle On</button> -->
                <span>OFF</span>
                <label class="switch">
                    <input type="checkbox" id="check" value="toggle">
                    <span class="slider round"></span>
                </label>
                <span>ON</span>

                <div class="stopwatch-container">
                    <p id="start-time">Start Time: </p>
                    <p id='end-time'>End Time: </p>  
                    <p id="time-elapsed">Time Elapsed: </p>              
                </div>
            </div>
        <!-- </div> -->
        <div id="slot2" class="data-card">
            <h2>Input 2 Control Panel</h2>
            <!-- <button id="check2" value="toggle">Toggle On</button> -->
            <span>OFF</span>
            <label class="switch">
                <input type="checkbox" id="check2" value="toggle">
                <span class="slider round"></span>
            </label>
            <span>ON</span>
            <div>
                <p id="start-time">Start Time: </p>
                <p id='end-time'>End Time: </p>  
                <p id="time-elapsed">Time Elapsed: </p>              
            </div>
        </div>

        <div id="temperature-data" class="data-card">
            <h2>Temperature</h2>
            <div class="temperature-border">
                <h2 id="temperature">75°C</h2>
            </div>
            <span class="thermometer-emoji">🌡️</span>
        </div>

        <div id="water-level-data" class="data-card">
            <h2>Water Level</h2>
            <h2>Safe ✔</h2>
            <h2>Unsafe ❌</h2>
        </div>
    </div>

    <script src="/javascripts/arduinoData.js"></script>
    <script src="./javascripts/ajaxRequests.js" charset="UTF-8"></script>


</body>
</html>