<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machines Data</title>
    <link rel='stylesheet' href='./stylesheets/machines.css' />
</head>
<body>
    <div>
        <h1 id="header" style="color: blue">This is our machine data: </h1>
        <form action="/machinesForm" method="post"> 
            <input type="text" placeholder="sn" name="sn">
            <input type="number" placeholder="tankSize" name="tankSize">
            <input type="text" placeholder="user" name="user">
            <button type="submit">Submit!</button>
            <p>Please input data above</p>
        </form>

        <table>
            <thead>
                <tr>
                    <td>sn</td>
                    <td>user</td>
                    <td>tankLiters</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                </tr>
            </tbody>
        </table>
    </div>
    <button id="show-data-button">Show data</button>
    <script src="/javascripts/ajaxRequests.js"></script>
</body>
</html> -->